.loginContainer {
  background: #ecf7e9;
  height: 100dvh;
  display: flex;
  align-items: center;
  .leftSide {
    flex-grow: 1;
    text-align: center;
    position: relative;
  }
  .rightSide {
    width: 35%;
    position: relative;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/login-bg2.jpg");
    background-size: 100% 100%;
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      width: 160px;
      background: url("/shape-1.png");
      background-size: 100% 100%;
    }
    &::before {
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.7)
      );
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }
    img {
      height: auto;
      width: 240px;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      right: -45px;
    }
  }
  .formOuter {
    max-width: 500px;
    margin: 30px auto;
    .formInputFld {
      background-color: #fff;
      border-radius: 12px;
    }
  }
}
