.formInputFld {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
}
.measurementTable {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}
